[submodule "MAAT/vendor/glm"]
	path = MAAT/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MAAT/vendor/imgui"]
	path = MAAT/vendor/imgui
	url = https://github.com/TheCherno/imgui/tree/docking
[submodule "MAAT/vendor/yaml-cpp"]
	path = MAAT/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "MAAT/vendor/ImGuizmo"]
	path = MAAT/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
