# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# MAAT files
*.log
*.user

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
.vs/
bin/
bin-int/
vendor/VulkanSDK/
MAAT-Editor/assets/cache/
assets/cache/
MAAT/vendor/VulkanSDK/
scripts/__pycache__