[submodule "MAAT/vendor/glm"]
	path = MAAT/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MAAT/vendor/imgui"]
	path = MAAT/vendor/imgui
	url = https://github.com/TheCherno/imgui/tree/docking
