# Binaries
**/bin/
bin-int/
Intermediates/

# MAAT files
*.log
*.user

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
.vs/
bin/
bin-int/
vendor/VulkanSDK/
MAAT-Editor/assets/cache/
assets/cache/
MAAT/vendor/VulkanSDK/
scripts/__pycache__